*{
    padding: auto;
    margin: auto;
}
:root {
    --cor-Verde: #CEE149;
    --cor-Vermelho: #DE5961;
    --cor-Verde-Escuro: #905c5c;
    --cor-Preto: #101010;
    --cor-Cinza: #80807D;
    --cor-Cinza2: #E1E1E1;
    --cor-Branco: #EFEFEF;

    --font-Mini: 1.3rem;;
    --font-Pequena: 1.5rem;;
    --font-Media: 2rem;
    --font-Grande: 2.5rem;
}
            /* BODY */
body{
    background-color: var(--cor-Preto);
}
    .Cabeçalho{
        height: 6.25rem;
        display: flex;
        background-color: var(--cor-Preto);
    }
        .navegacao{
            text-decoration: none;
            font-family: 'Tektur', cursive;
            margin: 0.2rem;
            padding: 0.5rem 1.5rem;
            color: var(--cor-Verde);
            font-size: 1.2rem;
            text-transform: uppercase;
            text-shadow: none;
            transition: 0.5s ease;
            user-select: none;
            border: 0px;
            clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 40px) 100%, 0 100%, 0 0);
        }
        .navegacao:hover,:focus{
            font-weight: bold;
            background-color:var(--cor-Verde);
            color: var(--cor-Preto);
            clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 40px) 100%, 0 100%, 0 0);
            color: var(--cor-Preto);
            background: var(--cor-Verde);
            text-shadow: 0 0 5px var(--cor-Branco),
                        0 0 10px var(--cor-Branco),
                        0 0 20px var(--cor-Branco);
        }


            /* MAIN */
    .Main_pg_inicial{
        padding-top: 3rem;
        width: 50rem;
        display: flex;
        flex-direction: column;
        
    }
    .sobreMim{
        width: 40rem;
        font-family: 'Tektur', cursive;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .sobreMim h3{
        font-size: 1.4rem;
        color: var(--cor-Preto);
    }
    .sobreMim span{
        font-size: 1.1rem;
        color: var(--cor-Cinza);    
    }
        .conteudoDaPagina{
            color: var(--cor-Branco);
            display: grid;
            grid-template-areas: 
            'apresentacaoRapida minhaFoto minhaFoto'
            'contato minhaFoto minhaFoto';
        }
            .apresentacaoRapida{
                grid-area: apresentacaoRapida;
                padding: 0rem 0rem 2rem 0rem;
            }
                .meuNome{
                    color: var(--cor-Verde);
                    font-size: var(--font-Grande);
                    font-family: 'Tektur', cursive;
                    font-weight: bold;
                }
                .areaDeAtuacao{
                    color: var(--cor-Cinza);
                    font-size: var(--font-Media);
                    font-family: 'Tektur', cursive;
                }
                .idade{
                    color: var(--cor-Cinza);
                    font-size: var(--font-Media);
                    font-family: 'Tektur', cursive;
                }
            .contato{
                grid-area: contato;
                color: var(--cor-Branco);
                margin-bottom: 4rem;
                margin-left: 0px;
            }
                .emails{
                    padding-bottom: 20px;
                }
                .email{
                    font-size: var(--font-Mini);
                    color: var(--cor-Cinza);
                    padding: 0.0rem 0.5rem;
                    font-family: 'Tektur', cursive;
                }
                .meuEmail{
                    font-size: var(--font-Pequena);
                    color: var(--cor-Branco);
                    font-family: 'Tektur', cursive;
                }
                .numero{
                    font-size: var(--font-Mini);
                    color: var(--cor-Cinza);
                    padding: 0.0rem 0.5rem;
                    font-family: 'Tektur', cursive;
                }
                .meuNumero{
                    font-size: var(--font-Pequena);
                    color: var(--cor-Branco);
                    font-family: 'Tektur', cursive;
                }

            .minhaFoto img{
                width: 315px;
                clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 150px) 100%, 0 100%, 0 0);
            }
        .info{
            background-color: var(--cor-Branco);
        }
        .maisInfo{
            color: var(--cor-Branco);
            background-color: var(--cor-Branco);
            
        }

        .linha{
            background-color: #101010;
            height: 0.3rem;
            width: 7.5rem;
            margin-top: -7px;
            margin-left: 0px;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 7.5rem) 100%, 0 100%, 0 0);
        }

        .linhaH{
            background-color: #101010;
            height: 0.3rem;
            width: 14.5rem;
            margin-top: -7px;
            margin-left: 0px;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 14.5rem) 100%, 0 100%, 0 0);
    
        }
        .linhaDiv{
            background-color: var(--cor-Vermelho);
            height: 0.3rem;
            width: 25.5rem;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 25.5rem) 100%, 0 100%, 0 0);
            margin-left: 0;
            margin-top: 0.3rem;
        }
        .cursos{
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            background-color: var(--cor-Branco);
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        .concluido{
            margin-top: 1.5rem;
            font-size: 1rem;
        }
        .linha2{
            background-color: #101010;
            height: 0.3rem;
            width: 13.7rem;
            margin-top: -7px;
            margin-left: 0px;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 13.5rem) 100%, 0 100%, 0 0);
        }
        .paragrafo{
            grid-area: paragrafo;
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            background-color: var(--cor-Verde);
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }

        .titulinho{
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            width: 26rem;
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
        }
        .linhaJ{
            background-color: var(--cor-Preto);
            height: 0.3rem;
            width: 12.9rem;
            margin-top: -7px;
            margin-left: 5px;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 10.5rem) 100%, 0 100%, 0 0);
        }
        .dvt{
            color: var(--cor-Vermelho);
        }
        .minhaFoto{
            grid-area: minhaFoto;
        
        }
        .educInfo{
            margin-top: 1rem;
            color: var(--cor-Preto);
            width: 40rem;
        }
        .escola{
            color: var(--cor-Cinza);
        }
        .ano{
            color: var(--cor-Vermelho);
            font-size: 1rem;
            padding: 30px;
        }
        .alura{
            font-size: 1rem;
            color: var(--cor-Cinza);
        }
        .idiomaHabilidades{
            display: grid;
            grid-template-areas: 
            'idiomas habilidades'
            'idiomas habilidades';
            width: 50rem;
        }
        .idiomas{
            
            grid-area: idiomas;
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        .habilidades{
            grid-area: habilidades;
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        .linha3{
            background-color: #101010;
            height: 0.3rem;
            width: 6.1rem;
            margin-top: -7px;
            margin-left: 0px;
            clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 13.5rem) 100%, 0 100%, 0 0);
        }
        .nivel{
            color: var(--cor-Verde);
            padding-left: 3rem;
        }
        .nivel-2{
            color: var(--cor-Verde);
            padding-left: 2.4rem;
        }
        .nivel0{
            color: var(--cor-Cinza);
        }
        .redesSociais{
            background-color: var(--cor-Verde);
        }
        .redeSoci{
            display: flex;
            justify-content: space-evenly;
            width: 50rem;
            height: 6.75rem;
            font-family: 'Tektur', cursive;

        }
            .acesse{
                color: #101010;
                font-weight: bold;
            }
            .Links{ 
                background-color: var(--cor-Preto);
                color: var(--cor-Branco);
                text-decoration: none;
                padding: 0.6rem 1.25rem;
                width: 6.25rem;
                clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 40px) 100%, 0 100%, 0 0);
                font-family: 'Tektur', cursive;
                font-weight: bold;
                font-size: 1rem;
                text-transform: uppercase;
                text-shadow: none;
                box-shadow: transparent;
                transition: 0.5s ease;
                user-select: none;
                border: 0px;
                clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 40px) 100%, 0 100%, 0 0);
            
            }
            .Links:hover{
                background-color: var(--cor-Vermelho);
                color: var(--cor-Preto);
                font-weight: bold;
                
                clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 40px) 100%, 0 100%, 0 0);
                color: var(--cor-Preto);
                background: var(--cor-Vermelho);
                text-shadow: 0 0 5px var(--cor-Branco),
                            0 0 10px var(--cor-Branco),
                            0 0 20px var(--cor-Branco);
            }




            /* FOOTER */
    .Roda_pe{
        color: var(--cor-Branco);
        text-align: end;
        padding: 0.6rem 1.25rem;
        font-family: 'Tektur', cursive;
    }
    .anoPe{
        color: var(--cor-Vermelho);
        margin-right: 20px;
        font-weight: bold;
    }


    /* certificados */

    .certificados{
            padding: 20px 5px;
            color: var(--cor-Preto);
            font-size: 1.2rem;
            font-family: 'Tektur', cursive;
            display: flex;
            flex-direction: column;
            font-weight: bold;
    }
    .carteado{
        padding: 20px 5px;
        color: var(--cor-Preto);
        font-size: 1.2rem;
        font-family: 'Tektur', cursive;
        display: flex;
        flex-direction: column;
        font-weight: bold;
}
    #card {
        width: 45rem;
        height: 31rem;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1500px; /* Define a perspectiva para a animação 3D */
        cursor: pointer;
        margin-top: 3rem;
    }
    
    .face {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        backface-visibility: hidden; /* Esconde o verso da carta no início */
        transition: transform 0.2s ease; /* Define a transição suave para a animação */
    }
    
    #front {
        transform: rotateY(0deg); /* Define a rotação inicial */
    }
    
    #back {
        transform: rotateY(180deg); /* Define a rotação inicial do verso */
    }
    
    .frente, .verso {
        width: 100%;
        height: 100%;
    }
    
    .flip #front1,
    .flip #front2 {
        transform: rotateY(180deg); /* Inverte a rotação para mostrar o verso quando a classe "flip" está ativa */
    }
    
    .flip #back1,
    .flip #back2 {
        transform: rotateY(360deg); /* Inverte a rotação para mostrar a frente quando a classe "flip" está ativa */
    }
    
    